In [1]:
import pandas as pd
import numpy as np

In [8]:
books = pd.read_csv('../data/books_data.csv.zip')

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [4]:
features=['Title','image','authors','categories','publisher','description']

In [5]:
books=books[features]

In [6]:
books.isnull().sum()

Title              1
image          52075
authors        31413
categories     41199
publisher      75886
description    68442
dtype: int64

In [7]:
books=books[~books['Title'].isnull()]
books=books[~books['description'].isnull()]

In [8]:
books.dropna(subset=['authors', 'categories'], how='all',inplace=True)
books.dropna(subset=['authors', 'description'], how='all',inplace=True)
books.isna().sum()

Title              0
image           6912
authors         1750
categories      5617
publisher      18358
description        0
dtype: int64

In [9]:
books.head()

,Title,image,authors,categories,publisher,description
1,Dr. Seuss: American Icon,http://books.google.com/books/content?id=IjvHQ...,['Philip Nel'],['Biography & Autobiography'],A&C Black,Philip Nel takes a fascinating look into the k...
2,Wonderful Worship in Smaller Churches,http://books.google.com/books/content?id=2tsDA...,['David R. Ray'],['Religion'],NaN,This resource includes twelve principles in un...
3,Whispers of the Wicked Saints,http://books.google.com/books/content?id=aRSIg...,['Veronica Haddon'],['Fiction'],iUniverse,Julia Thomas finds her life spinning out of co...
5,The Church of Christ: A Biblical Ecclesiology ...,http://books.google.com/books/content?id=kVqRa...,['Everett Ferguson'],['Religion'],Wm. B. Eerdmans Publishing,In The Church of Christ: A Biblical Ecclesiolo...
8,Saint Hyacinth of Poland,http://books.google.com/books/content?id=lmLqA...,['Mary Fabyan Windeatt'],['Biography & Autobiography'],Tan Books & Pub,The story for children 10 and up of St. Hyacin...

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143505 entries, 1 to 212403
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Title        143505 non-null  object
 1   image        136593 non-null  object
 2   authors      141755 non-null  object
 3   categories   137888 non-null  object
 4   publisher    125147 non-null  object
 5   description  143505 non-null  object
dtypes: object(6)
memory usage: 7.7+ MB

In [11]:
books  = books.reset_index(drop=True)

In [13]:
books.to_csv('../data/cleaned_books.csv',index=False)